.paragraph--type--double-slider .double-slider-header {
  text-align: center;
}


.paragraph--type--double-slider.swiper-container {
  width: 100%;
  height: 100%;
}

.paragraph--type--double-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
