{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'px-4',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
<section class="pb-6">

  <div{{ attributes.addClass(classes) }}>

    <div class="bg-light w-100 d-block py-12">

      <div class="row justify-content-center"  data-aos="fade-up">

        <div class="col-12 col-md-10 col-lg-6 pb-12">
          <h1 class="text-center text-dark-alt mb-4 px-4 px-md-0">{{ headline }}</h1>
          <h6 class="text-center text-muted futura-font lh-28 px-4 px-md-0">{{ text }}</h6>
        </div>

      </div>

      <div class="row justify-content-center">

        <div class="col-12 col-lg-10 col-xl-8">

          <div class="row justify-content-center">

            {% for mix_item in mix_items %}
            <div class="col-12 col-lg-4 text-center py-8 py-lg-0" data-aos="fade-up" data-aos-delay="150">

              <img class="mb-6" src="{{ mix_item.linked_image.image_url }}" alt="{{ mix_item.linked_image.image_alt }}" title="{{ mix_item.linked_image.image_title }}">
              <h3 class="text-center text-dark-alt mb-4">{{ mix_item.headline }}</h3>
              <h6 class="text-center text-muted futura-font lh-28">{{ mix_item.text }}</h6>

            </div>
            {% endfor %}

          </div>

        </div>

      </div>

    </div>

  </div>

</section>

{% endblock paragraph %}
