{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    '',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}

  <section class="review_part padding_top">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section_tittle text-center">
            <p>{{ subtitle }}</p>
            <h2>{{ headline }}</h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="intro_video_bg" style="background-image: url({{ image_url }})">
            <div class="intro_video_iner text-center">
              <div class="intro_video_icon">
                <a id="play-video_1" class="video-play-button popup-youtube"
                   href="{{ shared_video }}">
                  <span class="ti-control-play"></span>
                </a>
              </div>
              <p>{{ 'Watch intro video'|t }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-5">
          <div class="review_text_item">
            <div class="row">
              <div class="col-lg-7 col-sm-8">
                <div class="owl-carousel owl-theme" id="sync2">
                  {% for client_item in client_items %}
                    <div class="owl-thumb-item">
                      <div class="slider-thumbnails">
                        <img src="{{ client_item.avatar.image_url }}" alt="{{ client_item.avatar.image_alt ~ client_item.avatar.image_title }}" class="image">
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-lg-12">
                <div class="slider owl-carousel owl-theme" id="sync1">
                  {% for client_item in client_items %}
                    <div class="client_review_text">
                      <p>{{ client_item.text }}</p>
                      <img src="{{ client_item.organization.image_url }}" alt="{{ client_item.organization.image_alt ~ client_item.organization.image_title }}">
                      <div class="client_info">
                        <h3>{{ client_item.name }}</h3>
                        <h5>{{ client_item.position_title }}</h5>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock paragraph %}
